
:root{
    --veRy-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white:#ffffff;
    --black: #000000;
    --sm:14px;
    --md: 16px;
    --lg: 18px;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--veRy-light-pink);
    position: relative;
}

.navbar-left{
    display: flex;
}
.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: var(--veRy-light-pink);
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    border:1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.menu{
    display: none;
}
.logo{
    width: 100px;
}
.navbar-left ul,
.navbar-right ul{
    list-style: none;
    padding:0px;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-right{
    margin-right: 36px;
}
.navbar-email{
    color: var(--veRy-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
    cursor: pointer;
}
.navbar-shopping-cart{
    position: relative;
    cursor: pointer;
}
.navbar-shopping-cart div{
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right:-3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-menu{
    position: absolute;
    top:61px;
    right: 60px;
    background: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--veRy-light-pink);
    border-top: none;
    border-radius:0 0 8px 8px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul{
    list-style: none;
    padding:0;
    margin:0;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li :nth-child(1), 
.desktop-menu ul li :nth-child(2){
    font-weight: bold;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--veRy-light-pink);
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a{
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}
.inactive{
    display: none;
}
.mobile-menu{
    background: var(--white);
    padding: 24px;
    position: absolute;
    top: 61px;
    width: 100%;
    height: 100vh;
}
.mobile-menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold ;
}
.mobile-menu ul{
    list-style: none;
    margin: 24px 0 0;
    padding: 0px;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--veRy-light-pink);
}
.mobile-menu ul li{
    margin-bottom: 24px;
}
.mobile-menu .email{
    font-size: var(--sm);
    font-weight: normal;
}
.mobile-menu .sign-out{
    font-size: var(--sm);
    color: var(--hospital-green);
}

.mobile-menu .foot-menu li:first-child{
    margin:0px 0px 0px 0px
}
.product-detail{
    background: var(--white);
    width: 360px;
    padding: 0px 24px 0px 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    border: 1px solid var(--veRy-light-pink);
    border-radius: 0 0 8px 8px;
    border-top: none;
}
.tittle-container{
    display: flex;
}
.tittle-container img{
    transform: rotate(180deg);
    margin-right: 14px;
    cursor: pointer;
}
.tittle{
    font-size: var(--lg);
    font-weight: bold;
}
.total{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
.total p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.total p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.total p:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.scrollable-div{
    overflow-y:auto;
    max-height: 400px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.scrollable-div::-webkit-scrollbar {
    width: 10px;
  }
.shopping-cart-product{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap:16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart-product figure{
    margin: 0px;
}
.shopping-cart-product figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart-product p:nth-child(2){
    color: var(--veRy-light-pink);
}
.shopping-cart-product p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}      
.shopping-cart-product .erase-button{
    cursor: pointer;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    margin-bottom: 12px;
}
.main-container{
    margin-top: 24px;
}
.cards-container{
    display: grid;
    place-content:center;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
}
.product-cards{
    width: 240px;
}
.product-cards img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 12px;
}
.product-info figure{
    margin: 0px;
}
.product-info figure img{
    width: 40px;
    height: 40px;
    margin-top: 16px;
    cursor: pointer;
}
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 4px;
}
.product-info div p:nth-child(2){
    font-size: var(--sd);
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--veRy-light-pink);
}
.product-detail-card{
    background: var(--white);
    width: 360px;
    padding: 0 12px 12px 12px ;
    box-sizing: border-box;
    position: absolute;
    top:61px;
    right: 0;
    border: 1px solid var(--veRy-light-pink);
    border-radius: 0 0 8px 8px;
    border-top: none;
}
.product-detail-close-card{
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 16px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}
.product-detail-close-card:hover{
    cursor: pointer;
}

.product-detail-card .product-img-card{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 15% 15%;
    position: relative; 
}
.product-detail-card .product-info-card{
    margin:24px 24px 0 24px;
}
.product-info-card p:nth-child(1){
    font-size: var(--lg);
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 4px;
}
.product-info-card p:nth-child(2){
    color: var(--veRy-light-pink);
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 36px;
}
.product-info-card p:nth-child(3){
    color: var(--veRy-light-pink);
    font-size: var(--sm);
    margin-bottom: 36px;
}
.primary-button-card{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.add-to-cart-button-card{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width:640px){
    .menu{
        display:block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
    .navbar-right{
        margin-right: 8px;
    }
    .desktop-menu{
        display: none;
    }
    .product-detail {
        width: 100% !important;
        height: 100vh;
    }
    .product-detail .back{
        display: none;
    }
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 26px;
    }
    .product-cards{
        width: 140px;
    }
    .product-cards img{
        width: 140px;
        height: 140px;
    }
    .product-detail{
        height: 100vh;
    }
    .no-scroll {
        overflow: hidden;
      }
    
  
        .product-detail-card{
            width: 100%;
        
    }
}

@media (min-width:641px){
    .mobile-menu{
        display: none;
    }

    
}
